# version-pinned items
tensorflow[and-cuda]==2.19
tensorflow_probability==0.24.0
scipy==1.12.0
pymc==5.12.0
numpy<1.28

# pytensor==2.19.0


# optional utilities (no pin)
tqdm
matplotlib
matplotlib-label-lines
imageio
